<h1>New game</h1>

<% @letters.each do |letter| %>
<%= letter %>
<% end %>

<h3>What is the longest word you can find?</h3>

<form action="/score" method="post" data-turbo="false">
  <input type="text" name="new">
  <input type="submit" value="Choose!">
</form>

<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
